:root {
    --dark-color: rgb(87, 38, 48, 0.753);
    --medium-color: rgba(172, 37, 64, 0.2);
    --light-color: rgb(221, 59, 92);

}

* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 3rem;
    font-size: 3rem;
    background-color: crimson;
    color: wheat;
    width: 75%;
    margin: 0 auto;
    clip-path: polygon(0 1%, 100% 0, 100% 79%, 0% 100%);
}

.header h1 {
    position: relative;
    animation-name: text1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text1 {
    0% {top: -250px;}
    100% {top: 0;}
}

main {
    width: 75%;
    margin: 0 auto;
    background: linear-gradient(to bottom right, var(--light-color), 
    var(--medium-color));
    padding: 8rem 3rem;
    margin-top: -7rem;
}

.text-box {
    width: 100%;
    height: 30vh;
}

img {
    display: block;
    width: 600px;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    float: left;
    opacity: 0;
    animation-name: image;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes image {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.text-box hr {
    margin: 5px;
}

.text-box h2, hr, p {
        position: relative;
        animation-name: text2;
        animation-duration: 3s;
        animation-fill-mode: forwards;
}

@keyframes text2 {
    0% {right: -1000px;}
    100% {right: 0;}
}   

.footer {
    display: black;
    width: 75%;
    margin: 0 auto;
    background-color: crimson;
    color: wheat;
    text-align: center;
    columns: wheat;
    padding: 3rem;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 1rem;
    margin: 1rem;
    animation-name: btn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    transition-property: transform;
    transition-duration: 3s; 
}

.btn:hover {
    transform: rotateY(180deg);
}



.sm a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.1rem;
    color: #2c3e50;
    transition: 0.4s;
}

.sm a:hover {
    background-color: #2c3e50;
    color: #fff;
    border-radius: 50%;
}
